.hidden {
	display: none;
}

.infullday {
	display: none;
}

#tblMissings{
  width: fit-content;	
}

#tblMissings td,
#tblPupils td {
	min-width: fit-content;
}

#tblMissings tbody td {
	&:first-child {
	  width: 10em;
	}
	
	&:nth-child(2) {
	  min-width: 15em; 	
	}
}

/* #tblMissings tbody td:first-child {
	width: 10em;
} */

#tblMissings td.bg-excused,
#tblPupils :is(td,th).bg-excused{
	background: #59a985 !important;
}
